[Desktop Entry]
Type=Application
Version=1.1
Name=Add Hours and Minutes
Name[de]=Rechnen mit Stunden und Minuten
GenericName=Calculator for adding times
GenericName[de]=Rechner zum Zusammenzählen von Zeiten
Icon=${APP_ID}
TryExec=${PROJECT_NAME}
Exec=${PROJECT_NAME}
Terminal=false
Categories=Utility;Calculator;
