[Desktop Entry]
Type=Application
Name=Add Times
Name[de]=Rechnen mit Zeiten
Name[es]=Cálculo con tiempos
Name[fr]=Calculer avec des temps
Name[it]=Calcolo con i tempi
Name[pl]=Dodaj czasy
GenericName=Calculator for adding times
GenericName[de]=Rechner zum Zusammenzählen von Zeiten
GenericName[es]=Calculadora para sumar tiempos
GenericName[fr]=Calculatrice pour additionner des temps
GenericName[it]=Calcolatrice per sommare i tempi
GenericName[pl]=Kalkulator umożliwiający zliczanie czasu
Icon=de.akaflieg_freiburg.cavok.add_hours_and_minutes
TryExec=addhoursandminutes
Exec=addhoursandminutes
Terminal=false
Categories=Utility;Calculator;
X-Purism-FormFactor=Workstation;Mobile;
