[submodule "3rdParty/de.akaflieg_freiburg.cavok.add_hours_and_minutes"]
	path = 3rdParty/de.akaflieg_freiburg.cavok.add_hours_and_minutes
	url = https://github.com/flathub/de.akaflieg_freiburg.cavok.add_hours_and_minutes.git
