Source: addhoursandminutes
Maintainer: Stefan Kebekus <stefan.kebekus@math.uni-freiburg.de>
Section: Utility/Calculator
Priority: optional
Standards-Version: 3.9.3
Build-Depends: cmake, debhelper (>= 9), libqt5svg5-dev, qtbase5-dev, qttools5-dev, qttools5-dev-tools

Package: addHoursAndMinutes
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple calculator for adding hours and minutes.
 This calculator adds times given in hours and minutes.  It helps with the
 recording of machine running times, with the addition of flight times for
 pilots' flight logs, or driving times of truck drivers.